---
export interface Props{
    href:string,
    text:string,
    icon?: string
}
const {href, text, icon} = Astro.props
---
<li>
    <a href={href} class="duration-300 font-medium ease-linear hover:text-primary py-3 inline-flex items-center">
    {text}
    <slot set:html={icon} />
    </a>
</li>