---
import Container from "../shared/Container.astro";
import Title from "../shared/Title.astro";

---

<section>
    <Container className="space-y-8">
        <div class="text-center max-w-3xl mx-auto">
            <Title>
                Trusted by companies like
            </Title>
        </div>
        <div class="flex justify-center flex-wrap gap-2 md:gap-4">
            <div class="py-2 px-4 sm:px-5 rounded-xl bg-body border border-box-border group flex justify-center items-center">
                <img src="/logos/opencart.png" width="100" height="60" alt="Opencart" class="h-6 sm:h-10 max-h-[30px] max-w-[160px] w-auto ease-linear duration-300 grayscale group-hover:!grayscale-0 group-hover:scale-105">
            </div>
            <div class="py-2 px-4 sm:px-5 rounded-xl bg-body border border-box-border group flex justify-center items-center">
                <img src="/logos/paypallogo.png" width="100" height="60" alt="Paypal" class="h-6 sm:h-10 max-h-[30px] max-w-[160px] w-auto ease-linear duration-300 grayscale group-hover:!grayscale-0 group-hover:scale-105">
            </div>
            <div class="py-2 px-4 sm:px-5 rounded-xl bg-body border border-box-border group flex justify-center items-center">
                <img src="/logos/stripe.png" width="100" height="60" alt="Stripe" class="h-6 sm:h-10 max-h-[40px] max-w-[160px] w-auto ease-linear duration-300 grayscale group-hover:!grayscale-0 group-hover:scale-105">
            </div>
            <div class="p-1 rounded-xl bg-body border border-box-border group flex justify-center items-center max-h-[60px]">
                <img src="/logos/cloudflare.png" width="100" height="60" alt="Cloudflare" class="h-16 sm:h-20 max-w-[160px] w-auto ease-linear duration-300 grayscale group-hover:!grayscale-0 group-hover:scale-105">
            </div>
            <div class="py-2 px-4 sm:px-5 rounded-xl bg-body border border-box-border group flex justify-center items-center">
                <img src="/logos/razorpay.png" width="100" height="60" alt="Razorpay" class="h-6 sm:h-10 max-h-[30px] max-w-[160px] w-auto ease-linear duration-300 grayscale group-hover:!grayscale-0 group-hover:scale-105">
            </div>
            <div class="py-2 px-4 sm:px-5 rounded-xl bg-body border border-box-border group flex justify-center items-center">
                <img src="/logos/wordpress.png" width="100" height="60" alt="Wordpress" class="h-6 sm:h-10 max-h-[30px] max-w-[160px] w-auto ease-linear duration-300 grayscale group-hover:!grayscale-0 group-hover:scale-105">
            </div>
            <div class="py-2 px-4 sm:px-5 rounded-xl bg-body border border-box-border group flex justify-center items-center">
                <img src="/logos/woo-commerce.png" width="100" height="60" alt="Woo Commerce" class="h-6 sm:h-10 max-h-[30px] max-w-[160px] w-auto ease-linear duration-300 grayscale group-hover:!grayscale-0 group-hover:scale-105">
            </div>
        </div>
    </Container>
</section>