---
import Container from "../shared/Container.astro";
import Paragraph from "../shared/Paragraph.astro";
import Title from "../shared/Title.astro";

---

<section id="industries">
    <Container className="flex flex-col midmd:flex-row gap-10 lg:gap-12">
        
        <div class="flex-1 flex midmd:w-7/12 lg:w-1/2 flex-col">
            <Title>
                Industries we work with
            </Title>
            <Paragraph className="mt-8">
                We take pride in our ability to cater to a diverse range of industries, adapting our expertise to meet the unique needs of each sector. 
            </Paragraph>
            <Paragraph className="mt-2">
                Our skilled team collaborates with businesses
            </Paragraph>

        </div>

        <div class="max-w-md mx-auto midmd:max-w-none lg:mx-0  lg:pr-10 xl:pr-2 flex-1 flex w-11/12 midmd:w-5/12 lg:w-1/2 midmd:h-auto">
            <div class="w-full h-80 sm:h-96 midmd:h-full relative">
                <div class="absolute rotate-45 -left-5 md:-left-10 lg:-left-20 xl:-left-24 p-1 top-1/2 w-16 h-16 bg-gradient-to-br from-primary to-orange-400 blur-3xl opacity-50"></div>
                <div class="absolute  p-1 -top-4 md:-top-10 right-0 w-20 h-20 bg-gradient-to-br from-primary to-orange-400 rounded-full blur-3xl opacity-60"></div>
                
                <span class="absolute w-full aspect-[16/5] -skew-x-12 rounded-full bg-gradient-to-tr from-primary to-green-400 opacity-40 blur-2xl left-0 bottom-0"></span>

                <div class="mt-8 grid grid-cols-2 gap-4 text-heading-3 font-medium">
                    <div class="flex justify-center items-center">
                        <div class="p-2 inline rounded-md border border-box-border bg-box-bg shadow-lg shadow-box-shadow relative overflow-hidden w-40 text-center">
                            Healthcare
                        </div>
                    </div>
                    <div class="flex justify-center items-center">
                        <div class="p-2 inline rounded-md border border-box-border bg-box-bg shadow-lg shadow-box-shadow relative overflow-hidden w-40 text-center">
                            Education
                        </div>
                    </div>
                    <div class="flex justify-center items-center">
                        <div class="p-2 inline rounded-md border border-box-border bg-box-bg shadow-lg shadow-box-shadow relative overflow-hidden w-40 text-center">
                            E-commerce
                        </div>
                    </div>
                    <div class="flex justify-center items-center">
                        <div class="p-2 inline rounded-md border border-box-border bg-box-bg shadow-lg shadow-box-shadow relative overflow-hidden w-40 text-center">
                            Sports
                        </div>
                    </div>
                    <div class="flex justify-center items-center">
                        <div class="p-2 inline rounded-md border border-box-border bg-box-bg shadow-lg shadow-box-shadow relative overflow-hidden w-40 text-center">
                            Travel
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </Container>
</section>