---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/sections/Hero.astro';
import Services from '../components/sections/Services.astro';
import AboutUs from '../components/sections/AboutUs.astro';
import Features from '../components/sections/Features.astro';
import CTA from '../components/sections/CTA.astro';
import Brands from '../components/sections/Brands.astro';
---

<Layout
	title="Webiggle Digital Agency | We develop robust softwares"
	description="We develop small to enterprise level software and web applications. We have experties in e-commerce store, business websites, mobile apps and much more."
	>
	<main class="flex flex-col gap-y-16 md:gap-y-28 lg:gap-y-32 overflow-hidden">
		<Hero/>
		<Brands/>
		<Services/>
		<AboutUs/>
		<Features/>
		<CTA/>
	</main>
</Layout>